{% extends 'base.html.twig' %}

{#{% block title %}{% endblock %}#}

{% block content %}

<!-- Первый экран -->
<section class="hero-section">
    {{ include('index/_home.html.twig') }}
</section>
<!-- /Первый экран -->


<!-- О нас -->
<section class="intro-section pt100 pb50">
    <a id="about"></a>
    {{ include('index/_about.html.twig') }}
</section>
<!-- /О нас -->

<!-- Проекты -->
<div class="projects-section pb50">
    <a id="projects"></a>
    {{ include('index/_projects.html.twig') }}
</div>
<!-- /Проекты -->


<!-- Услуги -->
<section class="service-section spad">
    <a id="services"></a>
    {{ include('index/_services.html.twig') }}
</section>
<!-- /Услуги -->


<!-- Ремонт под ключ -->
<section class="cta-section pt100 pb50">
    {{ include('index/_repair.html.twig') }}
</section>
<!-- /Ремонт под ключ -->


<!-- empty -->
<section class="milestones-section spad">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<!-- /empty -->

{% endblock %}
